# Node.js dependencies
node_modules/

# Tailwind CSS output
*.css
!main.css

# Logs
logs
*.log
npm-debug.log*

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Output of 'npm pack'
*.tgz

# Vite cache
.vite
dist/

# Other common ignores
.DS_Store
.env
*.local